@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", "sans-serif";
}

body {
  overflow-x: hidden;
}

.navbar {
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 100px;
  height: 100px;
}

.navbar .navbar_img {
  width: 10vw;
  height: 80px;
}

.navbar .navbar_img img {
  height: 80px;
  width: auto;
  margin: 10px 0 0 10px;
}

.navbar .navbar_text {
  width: 90vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 10vw);
  align-content: center;
  margin-left: 100px;
}

.navbar .navbar_text .navbar_text--div {
  height: 80px;
  display: grid;
  grid-template-columns: 20px auto;
  margin: 0 10px 0 0;
  justify-content: center;
  align-content: center;
}

.navbar .navbar_text .navbar_text--div img {
  width: 20px;
  height: auto;
}

.navbar .navbar_text .navbar_text--div a {
  height: 20px;
  margin-left: 10px;
  text-decoration: none;
  color: gray;
  font-size: 14px;
}

.navbar .navbar_text .navbar_text--div a:hover {
  color: orange;
}

.navbar .navbar_social {
  width: 10vw;
}

.img {
  position: relative;
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 50vh;
}

.img .img_image {
  width: 100vw;
  object-fit: cover;
  height: 50vh;
  object-position: 50% 60%;
}

.img .img_title {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 100%;
  position: absolute;
  width: 70%;
  color: rgba(255, 95, 2, 0.6);
  align-self: center;
  justify-self: center;
  text-align: center;
  top: 40%;
}

.articles {
  width: 100vw;
  height: auto;
  background-color: rgb(212, 212, 212);
  display: grid;
  grid-template-columns: 100vw;
}

.articles .articles_card {
  width: 40vw;
  height: 30vh;
  background-color: azure;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 30% 70%;
  margin-top: 10px;
  min-width: 400px;
}

.articles .articles_card .articles_header {
  height: 100%;
  width: 100%;
  display: grid;
  grid-column: 2/3;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}

.articles .articles_card .articles_header .articles_header--date {
  color: rgba(212, 209, 209, 0.8);
  min-width: 300px;
  height: 5vh;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-content: end;
}

.articles .articles_card .articles_header .articles_header--date p{
  margin-left: 10px;
  width: 100%;
  height: auto;
  align-self:end;
}

.articles .articles_card:first-child .articles_header .articles_header--date {
  background-image: url('./img/pink-324175_640.jpg');
}

.articles .articles_card:nth-child(2) .articles_header .articles_header--date {
  background-image: url('./img/sunrise-3712483_640.jpg');
}

.articles .articles_card .articles_header .articles_header--title {
  background-color: rgb(216, 49, 49);
  min-width: 300px;
  text-transform: uppercase;
  color: white;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-content: end;

}

.articles .articles_card .articles_header .articles_header--title p {
 margin-left: 10px;
 height: auto;
 width: 100%;
 align-self: end;
}

.articles .articles_card .articles_text {
  align-items: center;
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
} 

.articles .articles_card .articles_text .articles_text--text {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.articles .articles_card .articles_text .articles_text--text p{
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.articles .articles_card .articles_text .articles_text--info {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 2/3;
} 

.articles .articles_card .articles_text .articles_text--info a {
  color: gray;
  text-decoration: none;
}

.articles .articles_card .articles_text .articles_text--info a:hover {
  color: orange;
  transform: scale(1.05)
}

@media (min-width: 780px) and (max-width: 1024px) {
  .navbar .navbar_text {
    width: 50vw;
  }

  .navbar .navbar_text .navbar_text--div a:hover {
    color: orange;
    transform: scale(1.05);
  }

  .img .img_image {
    width: 100vw;
    object-fit: cover;
    height: 50vh;
    object-position: 50% 60%;
  }

  .img .img_title {
    text-align: center;
    width: auto;
    width: 50%;
    top: 50%;
  }

  .articles {
    height: 40vh;
    grid-template-columns: repeat(2, 50vw);
  }

  .articles .articles_card {
    width: 40vw;
    height: 30vh;
  }
  
  .articles .articles_card .articles_text {
    height: 20vh;
  } 
  
  .articles .articles_card .articles_text .articles_text--text {
    height: 15vh;
    padding-top: 10px;
  }
}

@media (min-width: 1024px) {
  .navbar .navbar_text {
    width: 50vw;
  }

  .navbar .navbar_text .navbar_text--div a {
    font-size: 16px;
  }

  .navbar .navbar_social {
    width: 10vw;
  }


  .img .img_title {
    width: auto;
    height: auto;
  }

  .articles {
    height: 40vh;
    grid-template-columns: repeat(2, 50vw);
  }

  .articles .articles_card {
    height: 30vh;
  }
  
  .articles .articles_card .articles_text {
    height: 20vh;
  } 
  
  .articles .articles_card .articles_text .articles_text--text {
    height: 15vh;
    padding: 10px 0px 0px 0px;
  }
  
  .articles .articles_card .articles_text .articles_text--text p{
    width: 100%;
    height: 15vh;
    padding-top: 10px;
  }
  
  .articles .articles_card .articles_text .articles_text--info {
    height: 10vh;
  } 


  

}
