* {
    box-sizing: border-box;
    width: 100vw;
    margin: 0;
}

.containers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.first, .second, .last {
    background-color: black;
    width: 100vw;
}

.first {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first .first_red {
    background-color: gray;
    display: flex;
    margin: 0 0 2vh 0;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 10vh;
}

.first .first_red div:nth-child(1), 
.first .first_red div:nth-child(3){
    background-color: red;
    width: 15vw;
    height: 30%;
}

.first .first_red div:nth-child(2){
    background-color: red;
    width: 50vw;
    height: 30%;
}

.first .first_orange {
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 10vh;
}

.first .first_orange div{
    width: 96%;
    background: yellow;
    height: 30%;
}

.second {
    height: 40vh;
}

.last {
    height: 10vh;
}