.section_height {
  height: auto;
  margin: 30vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
}

@media screen and (max-width: 991px) {
  .section_height {
    justify-content: flex-start;
    margin: 10vh 0;
    text-align: center;
    font-size: 1.2rem;
  }
}

.portfolio_carousel {
    margin: 15vh 0;
    height: 100vh;
}



